<html>
  <head>
    <title>
      Web Guesser
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
  </head>
  <body>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Guess the Number!
          </h1>
          <h2 class="subtitle">
            Now in Sinatra
          </h2>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <form>
        <div class="field">
          <label class="label">What is your guess?</label>
          <div class="control">
            <input class="input" type="number" name="guess" placeholder="0">
          </div>
        </div>
        <div class="field">
          <div class="control">
            <input class="button is-link" type="submit" value="Guess!">
          </div>
        </div>
        </form>
        <p class="is-size-3">
          <%= message %>
        </p>
      </div>
    </section>
  </body>
</html>